<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>wellcome to yynews</title>
    <link rel="stylesheet" href="/yynews/Public/css/Initial.css" />
    <link rel="stylesheet" href="/yynews/Public/css/yynews.css" />
    <link rel="stylesheet" href="/yynews/Public/css/comment.css" />
    </head>
    <body>
        <!--－－－－－－－－－－－－头部－－－－－－－－－－－－－－－－－－－－－-->
        <div id="header">
            <img src="<?php echo IMG_URL; ?>banner5.jpg">
        </div>
        <!--－－－－－－－－－－－－导航条和搜索－－－－－－－－－－－－－－－－－－－－－-->
       <div id="nav_search">
            <ul id="nav">
                <li class='tooltip'>
                <a href="/yynews/index.php/Home/Index/index">首页</a>
                </li>
                <li class='tooltip'>
                <a href='__CONTROLLER__/categoryManager'>类别管理</a>
                </li>
                <li class='tooltip'>
                <a href='__CONTROLLER__/newsManager' class="selected">新闻管理</a>
                </li>
                <li class='tooltip'>
                <a href='__CONTROLLER__/commentManager'>评论管理</a>
                </li>
                 <li class='tooltip'>
                <a href='__CONTROLLER__/linkManager'>友情链接管理</a>
                </li>
                <li class='tooltip'>
                <a href='__MODULE__/RBAC/adminManager'>用户管理</a>
                </li>
                <li class='tooltip'>
                <a href='__MODULE__/RBAC/roleManager'>角色管理</a>
                </li>
                <li class='tooltip'>
                <a href='__MODULE__/RBAC/accessManager'>权限管理</a>
                </li>
                 <span>欢迎管理员：<?php echo session('admin_name')?></span>&nbsp
                <a href="__CONTROLLER__/exited">退出登陆</a>&nbsp
                <a href="__CONTROLLER__/usernameModify">修改用户名</a>
                &nbsp
                <a href="__CONTROLLER__/userpasswordModify">修改密码</a>
            </ul>
            <div id="search_div">
                <form action="/yynews/index.php/Admin/News/newssearch" method="post" style="text-align:center;">
                        <input type="text" name="searchContent" id="search_content" class="comment_text" />
                        <div id="search_submit">搜索</div>
                    <input type="submit" class="hidden" id="search_submit_input"/>
                </form>
            </div>
        </div>
        <div id="main">
         <div>
          <form action="__SELF__" method="post"  id="newsManager_form" enctype="multipart/form-data">
            <p>所属类别:</p>
            <select name="catId">
                <?php
                foreach($tempcategory as $row){
                    $tempCatName=$row["catname"];
                    $tempCatId=$row["catid"];
                    echo "<option value='$tempCatId'>$tempCatName</option>";
                }
                ?>
            </select>
            <br />
            <p > 新闻标题:</p>
            <input type="text" name="newsTitle"  style="height:26px;width:190px"><br />
            <p > 新闻内容:</p>
            <textarea name="newsContent"  cols="60" rows="9"></textarea><br/>
            <p style="display:inline;">上传附件：</p>
            <input type="file" name="newspic" style="display:inline;"><br />
            <input type="submit" name="addNews" value="添加新闻" style="height:30px;width:65px;font-size:15px">
            <!--   <input type="submit" name="addNews" value="保存返回" style="margin-top:8px;height:28px"/> -->
        </form>
    </div>

</div>

