<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>wellcome to yynews</title>
    <link rel="stylesheet" href="<?php echo CSS_URL?>Initial.css" />
    <link rel="stylesheet" href="<?php echo CSS_URL?>yynews.css" />
    <link rel="stylesheet" href="<?php echo CSS_URL?>comment.css" />
    <script type="text/javascript" src="<?php echo JS_URL; ?>jquery-3.0.0.js"></script>
    <script type="text/javascript" src="<?php echo JS_URL; ?>accessManager.js"></script>
    </head>
    <body>
        <!--－－－－－－－－－－－－头部－－－－－－－－－－－－－－－－－－－－－-->
        <div id="header">
            <img src="<?php echo IMG_URL; ?>banner5.jpg">
        </div>
        <!--－－－－－－－－－－－－导航条和搜索－－－－－－－－－－－－－－－－－－－－－-->
       <div id="nav_search">
            <ul id="nav">
                <li class='tooltip'>
                <a href="/yynews/index.php/Home/Index/index">首页</a>
                </li>
                <li class='tooltip'>
                <a href='__MODULE__/Power/categoryManager' <?php if($_GET["model"]=="categoryManager") echo "class='selected'"?> >类别管理</a>
                </li>
                <li class='tooltip'>
                <a href='__MODULE__/Power/newsManager' <?php if($_GET["model"]=="newsManager") echo "class='selected'"?> >新闻管理</a>
                </li>
                <li class='tooltip'>
                <a href='__MODULE__/Power/commentManager' <?php if($_GET["model"]=="commentManager") echo "class='selected'"?> >评论管理</a>
                </li>
                <li class='tooltip'>
                <a href='__MODULE__/Power/linkManager' <?php if($_GET["model"]=="linkManager") echo "class='selected'"?> >友情链接管理</a>
                </li>
                <li class='tooltip'>
                <a href='__CONTROLLER__/adminManager' <?php if($_GET["model"]=="adminManager") echo "class='selected'"?> >用户管理</a>
                </li>
                <li class='tooltip'>
                <a href='__CONTROLLER__/roleManager'  <?php if($_GET["model"]=="roleManager") echo "class='selected'"?> >角色管理</a>
                </li>
                <li class='tooltip'>
                <a href='__CONTROLLER__/accessManager' <?php if($_GET["model"]=="accessManager") echo "class='selected'"?> >权限管理</a>
                </li>
                <span>欢迎管理员：<?php echo session('admin_name')?></span>&nbsp
                <a href="__MODULE__/Power/exited">退出登陆</a>&nbsp
                <a href="__MODULE__/Power/usernameModify">修改用户名</a>
                &nbsp
                <a href="__MODULE__/Power/userpasswordModify">修改密码</a>
            </ul>
            <div id="search_div">
                <form action="/yynews/index.php/Admin/News/newssearch" method="post" style="text-align:center;">
                        <input type="text" name="searchContent" id="search_content" class="comment_text" />
                        <div id="search_submit">搜索</div>
                    <input type="submit" class="hidden" id="search_submit_input"/>
                </form>
            </div>
        </div>
        <div id="main">
        你没有此模块的权限，请联系管理员。
        </div>
    </div>
    <!--－－－－－－－－－－－footer－－－－－－－－－－－－－－－－－－－－－-->
    <div id="footer">
        <font color=#909090 size="3px"/>版权所有  |<a href="http://www.csust.edu.cn/pub/cslg/jgsz/yxsz/jsjytxgcxy/"> 长沙理工大学计算机与通信工程学院</a>
    </div>
</body>
</html>